@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    /* Variables */
    --primary-color: #2EC4B6;
    --secondary-color: #CBF3F0;
    --accent1-color: #FFFFFF;
    --accent2-color: #FFBF69;

    --heading-font: 'Poppins bold', sans-serif;
    --paragraph-font: 'Poppins', sans-serif;
}

/* Heading Styles */

body {
    width: 960px;
    /* padding: 20px; */
    margin: 0 auto;
}


/* h1, h2 {
    font-size: var(--heading-font);
    color: black;
} */
/*paragraph */
p {
    font-size: var(--paragraph-font);
    color: var(--accent2-color);
}

/* Hero */
.hero {
    position: relative;
}

.hero img {
    /* display: block; */
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}
 .hero article p {
    color: black;
 }
h1 {
    position: absolute;
    top: 10%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.8);
}
.hero h1{
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}
  
  .hero article {
    position: absolute; 
    top: 8rem; 
    padding: 1rem;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    right: 0;
    margin: 0 auto;
    /* margin-right: 10px;
    margin-top: 10px;
    margin-left: -40px; */
  }
  
  .hero article img {
    float: right;
    width: 200px;
  }     
    
/* Footer */
  
.sociallinks {
    float: right;
    padding: 0px;
}

 footer p{
    padding-top: 50px;
    margin: 0px 50px;
}
section img {
    padding-right: 0px;
    margin: 0px;

}
/* Figure */
.adventure figure {
  display: flex;
  margin: 0 auto;
  flex-flow: row;
  max-width: 960px;
  margin: 0 auto;

}
 /* figure {
    /* border: thin #c0c0c0 solid; */
    /* display: flex;
    flex-flow: row;
    padding: 20px;
    justify-content: center;
} */ */

.adventure figcaption {
    display: flex;
    background-color: #222;
    color: #fff;
    padding: 0px;
    text-align: left;
    padding-top: 50px;
    flex-flow: row;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    grid-gap: 2rem;
    padding: 2rem;
  }
  
  .logo {
    display: flex;
    justify-content: center;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 0px 200px;
  }
  
  header a {
    border: thin #222 solid;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    text-align: center;
  }
  /* section, .grid { /* add the .grid selector */
    /* max-width: 1200px;
    margin: 0 auto;
  /* } */
  /* .grid {
    display: grid;
    align-content: center;
} */

main {
    grid-column: 2/3;
    margin: 1rem;
}

.grid {
    position: relative;
    grid-column: 2/2;
    grid-row: 2/2;
    max-width: 960px;
    margin: 0 auto;
}
