@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    /* Variables */
    --primary-color: #2EC4B6;
    --secondary-color: #CBF3F0;
    --accent1-color: #FFFFFF;
    --accent2-color: #FFBF69;

    --heading-font: 'Poppins bold', sans-serif;
    --paragraph-font: 'Poppins', sans-serif;
}

/* Heading Styles */

body {
    padding: 20px;
}


h1, h2 {
    font-size: var(--heading-font);
    color: black;
}
/*paragraph */
p {
    font-size: var(--paragraph-font);
    color: var(--accent2-color);
}

/* Hero */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
 .hero article p {
    color: black;
 }
h1 {
    position: absolute;
    top: 10%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.8);
}
  
.hero {
    position: relative; 
  }
  
  .hero article {
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 10px;
    margin-top: 10px;
    margin-left: -40px;
  }
  
  .hero article img {
    float: right;
    max-width: 200px; 
    margin-right: 10px;
    
/* Footer */
  }
footer nav{
    float: right;
    padding: 0px;
    margin: -30px 0px;
}

footer {
    padding-top: 0px;
    margin: 0px 50px;
}
section img {
    padding-right: 0px;
    margin: 0px;

}
/* Figure */
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: row;
    padding: 5px;
    justify-content: center;
}

figcaption {
    background-color: #222;
    color: #fff;
    padding: 0px;
    text-align: left;
    padding-top: 50px;
    justify-items: auto;
}

/* Header */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  
  .logo {
    display: flex;
    justify-content: center;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 0px 200px;
  }
  
  header a {
    border: thin #222 solid;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    text-align: center;
  }
  /* section, .grid { /* add the .grid selector */
    max-width: 1200px;
    margin: 0 auto;
  /* }
  .grid {
    display: grid;
    align-content: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
} */ */