@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root{
    --primary-color: #2EC4B6;
    --secondary-color: #CBF3F0;
    --accent1-color: #FFFFFF;
    --accent2-color:#FFBF69;


    --heading-font: 'Poppins', sans-serif;
    --paragraphfont: 'poppins', sans-serif;

    --nav-background-color: #ffffff;
    --nav-link-color: #ffbf69;
    --nav-hover-link-color: #cbf3f0;
    --nav-hover-background-color: #2ec4b6;
}
body{
    font-family: var(--paragraphfont);
    max-width: 60px;
    padding: 20px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}
header {

}

